<section class=" bg-black h-screen w-screen text-center relative overflow-hidden py-8">
    <div class=" z-30 relative h-full flex flex-col">
    <header class=" flex-col items-center justify-between ">
    <p class=" text-white pt-40 text-5xl font-bold py-10 text-left ml-11">LANDING ON MARS</p>
    <p class=" text-white text-balance text-left px-10">
        Starship will enter Mars’ atmosphere at 7.5 kilometers per second <br> and decelerate aerodynamically. The vehicle’s heat shield is designed <br> to withstand multiple entries, but given that the vehicle is coming into <br> Mars’ atmosphere so hot, we still expect to see some ablation of the heat <br> shield (similar to wear and tear on a brake pad). The engineering video below <br> simulates the physics of Mars entry for Starship.
        </p>
    </header>

    
</div>
    <div class=" absolute top-0 bottom-0 h-full w-full z-10 ">
        <img src="/STARSHIP_CAPABILITIES_INTERPLANETARYDESTINATIONS_Mars_01_2023_01_Desktop_Darkerv2.jpeg" class="object-center object-cover h-full w-full" alt="">
    </div>
</section>
