<section class=" bg-black h-screen w-screen text-center relative overflow-hidden py-8">
    <div class=" z-30 relative h-full flex flex-col">
    <header>
    <p class=" text-white pt-40 text-3xl font-ligth py-10 select-text selection:bg-white">“You want to wake up in the morning and think the future is going to be great <br> - and that’s what being a spacefaring civilization is all about. It’s about <br> believing in the future and thinking that the future will be better than the past. And I can’t <br> think of anything more exciting than going out there and being among the stars.”</p>
    <p class=" text-white">-Elon Musk</p>
    </header>

    
</div>
    <div class=" absolute top-0 bottom-0 h-full w-full z-10 bg-fixed">
       <img src="/mars_humans.jpeg" class="bg-fixed object-center object-cover h-full w-full " alt="">
    </div>
</section>