<section class=" bg-black h-screen w-screen text-center relative overflow-hidden py-8">
    <div class=" z-30 relative h-full flex flex-col">
    <header class=" flex-col items-center justify-between ">
    <p class=" text-white pt-40 text-5xl font-bold py-10 text-left ml-11">STARSHIP</p>
    <p class=" text-white text-balance text-left px-10">
SpaceX’s Starship spacecraft and Super Heavy rocket – <br> collectively referred to as Starship – represent a fully <br> reusable transportation system designed to carry both <br> crew and cargo to Earth orbit, the Moon, Mars and <br> beyond. Starship is the world’s most powerful launch <br> vehicle ever developed, capable of carrying up to<br> 150  metric tonnes fully reusable and 250 <br> metric tonnes expendable.
        </p>
    </header>

    
</div>
    <div class=" absolute top-0 bottom-0 h-full w-full z-10 ">
       <video autoplay muted loop src="/WebsiteStarshipStack_Anim_Render_Desktop_7.mp4"></video>
    </div>
</section>
