


<section class=" bg-black h-screen w-screen text-center relative overflow-hidden py-8">
    <div class=" z-30 relative h-full flex flex-col">
    <header>
    <h1 class=" text-white pt-40 text-7xl font-extrabold py-2">MARS & BEYOND</h1>
    <p class=" text-white">THE ROAD TO MAKING HUMANITY MULTIPLANETARY</p>
    </header>

    
</div>
    <div class=" absolute top-0 bottom-0 h-full w-full z-10 ">
       <img src="/mars_feature.jpeg" class="object-center object-cover h-full w-full" alt="">
    </div>
</section>