<section class=" bg-black h-screen w-screen text-center relative overflow-hidden py-8">
    <div class=" z-30 relative h-full flex flex-col">
    <header class=" flex-col items-center justify-between ">
    <p class=" text-white pt-40 text-5xl font-bold py-10 text-left ml-11">ON-ORBIT REFILLING</p>
    <p class=" text-white text-balance text-left px-10">
Starship leverages tanker vehicles (essentially the Starship <br> spacecraft minus the windows) to refill the Starship  spacecraft <br>in low-Earth orbit prior to departing for Mars. Refilling on-orbit <br> enables the transport of up to 100 tons all the way to Mars. <br> And if the tanker ship has high reuse capability, the primary <br> cost is just that of the oxygen and methane, which is extremely low.
        </p>
    </header>

    
</div>
    <div class=" absolute top-0 bottom-0 h-full w-full z-10 ">
       <video autoplay muted loop src="/Nave.mp4"></video>
    </div>
</section>
